<div class="container">
  <h2>Edit the category</h2>

  <div class="container-form">
    <%= form_for @category do |f| %>
      <% if @category.errors.any? %>
      <% @category.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%= msg %></div>
        <% end %>
      <% end %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'control-form' %>
      </div>
      <br>
      <%= f.submit "Submit", class:'btn btn-primary' %>
      <%= link_to "Cancel", root_path, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
<div class="container">
  <h3 class="page-header">Image in <%= @category.name %></h3>
  <div id="edit_images">
    <% if @images.exists? %>
      <% @images.each_slice(6) do |image| %>
        <div class="row">
          <% image.each do |image| %>
          <div class="col-md-2">
            <%= image_tag image.image_url(:thumb)  %>
            <center><%= link_to "Delete", image_path(image), class:'delete', method: :delete, data: {confirm: "Are you sure?"}  %></center>
          </div>
          <% end %>
        </div>
      <% end %>

    <% end %>
</div>
