    <section>
      <div class="container">
        <% if flash[:notice] %>
          <div class="alert alert-success"><%= flash[:notice] %></div>
          <% end %>
          <% if flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
          <% end %>
        <div id="gallery-delete">
          <h2>All images</h2>
         <% if @images.exists? %>
            <% @images.each_slice(4) do |image| %>
            <div class="row">
              <% image.each do |image| %>

                <div class="col-md-3">
                  <div class="delete_button">
                    <%= link_to "Delete", @image, method: :delete do%> delete <% end %>
                    <%= link_to "show", image_path(image) %>
                  </div>
                  <div class="photo photo-type-line-delete">
                    <div class="line"> <%= link_to " Delete", @image, method: :delete do%> <i class="fa fa-times" style="color:#cf3a3a; font-size: 22px;" aria-hidden="true"></i><% end %>
                        </div>

                    <div class="photo-img"><%= image_tag image.image_url(:thumb) %></div>
                  </div>
                </div>

              <% end %>
            </div>
            <% end %>
         <% else %>
         <p>There is no images</p>
         <% end %>




          <div class="row">
            <br>
            <br>
          </div>
        </div>
      </div><!-- /.container -->
    </section>
