    <section>
      <div class="container">
        <% if flash[:notice] %>
          <div class="alert alert-success"><%= flash[:notice] %></div>
          <% end %>
          <% if flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
          <% end %>
        <div id="gallery">
          <h2>All images</h2>
          <div class="row">
            <div class="col-md-3">
              <div class="photo photo-type-line">
                <a href="images/Cocktail1.jpg" class="photo-hover" data-lightbox="my-images" data-tile="Lorem ipsum">
<!--            <div class="photo-hover" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),  url('<%= image_path 'Cocktail1.jpg' %>')"> -->
                  <div class="photo-info">
                    <div class="headline">Lorem ipsum dolor sit amet</div>
                    <div class="line"></div>
                    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut quis totam vel tempore, ex inventore?</div>
                  </div>
                  <div class="mask"></div>
<!--                 </div> -->
                </a>

                <div class="photo-img"><%= image_tag "Cocktail1.jpg" %></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="photo photo-type-line">
                <a href="../images/Cocktail2.jpg" class="photo-hover" data-lightbox="my-images" data-tile="Lorem ipsum">
<!--            <div class="photo-hover" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),  url('<%= image_path 'Cocktail1.jpg' %>')"> -->
                  <div class="photo-info">
                    <div class="headline">Lorem ipsum dolor sit amet</div>
                    <div class="line"></div>
                    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut quis totam vel tempore, ex inventore?</div>
                  </div>
                  <div class="mask"></div>
<!--                 </div> -->
                </a>

                <div class="photo-img"><%= image_tag "Cocktail2.jpg" %></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="photo photo-type-line">
               <a href="/./images/Cocktail1.jpg" class="photo-hover" data-lightbox="my-images" data-tile="Lorem ipsum">
<!--            <div class="photo-hover" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),  url('<%= image_path 'Cocktail1.jpg' %>')"> -->
                  <div class="photo-info">
                    <div class="headline">Lorem ipsum dolor sit amet</div>
                    <div class="line"></div>
                    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut quis totam vel tempore, ex inventore?</div>
                  </div>
                  <div class="mask"></div>
<!--                 </div> -->
                </a>

                <div class="photo-img"><%= image_tag "Cocktail1.jpg" %></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="photo photo-type-line">
                <a href= '<%= image_tag "Cocktail1.jpg" %>'class="photo-hover" data-lightbox="my-images" data-tile="Lorem ipsum">
<!--            <div class="photo-hover" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),  url('<%= image_path 'Cocktail1.jpg' %>')"> -->
                  <div class="photo-info">
                    <div class="headline">Lorem ipsum dolor sit amet</div>
                    <div class="line"></div>
                    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut quis totam vel tempore, ex inventore?</div>
                  </div>
                  <div class="mask"></div>
<!--                 </div> -->
                </a>

                <div class="photo-img"><%= image_tag "Cocktail1.jpg" %></div>
              </div>
            </div>
          </div>
          <div class="row">
            <br>
            <br>
          </div>
        </div>
      </div><!-- /.container -->
    </section>
